body {
    background-color: #f1f1f1;
}

button {
    border:none;
    background-color: Transparent;
    background-repeat:no-repeat;
}

/* Style the close button (span) */
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }
  
  .close:hover {background: #bbb;}